* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @include respond(big-desktop) {
        font-size: 70%;
    }

    @include respond(big-tablet-land) {
        font-size: 66%;
    }

    @include respond(big-tablet) {
        font-size: 80%;
    }
}

input {
    font-weight: 100;
}

body {
    font-weight: 300;
    color: white;
}

