.container {
    height: 100vh;
    width: 100vw;
    background-image: $gradient-dark;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(big-phone) {
        height: 100%;
        width:100%
    }
}

.content {

}
