@mixin component-format {
    background-color: $color-grey-dark;
    border-radius: $border;
    box-shadow: $box-shadow-medium;
    text-transform: uppercase;
    font-weight: 200;
}

@mixin item-format {
    background-color: $color-grey-dark;
    border-radius: $item-border;
    box-shadow: $box-shadow-medium;
}