@mixin component-format {
    background-color: $color-grey-dark;
    border-radius: $border;
    box-shadow: $box-shadow-medium;
    text-transform: uppercase;
    font-weight: 200;
}

@mixin item-format {
    background-color: $color-grey-dark;
    border-radius: $item-border;
    box-shadow: $box-shadow-medium;
}

@mixin form-background {
    height: 100vh;
    width: 100vw;
    // display: none;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    place-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2500;
    background-color: rgba(#000000, .5);
    // background-image: $copper-gradient;
    transform: scale(.51);
    
    transition: all .25s;
}

@mixin form {
    background-color: rgba($color-grey-mid, 0.7);
    // box-shadow: 0rem 0rem 4rem 4rem rgba($color-grey-dark, .1);
    z-index: 9950;
    position: absolute;
    justify-items: center;
    align-items: center;
    padding: 3rem;
    font-size: 3rem;
}

@mixin form-input {
    height: 5rem;
    font-size: 2.5rem;
    border:none;
    // border: 1px solid $color-grey-mid;
    background-color: $color-grey-light;
    border-radius: 1rem;
    color: white;
    text-align: center;
    width: 100%;
    font-weight: 100;
}

@mixin form-input-2 {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-grey-light, .5);
    border: none;
    width: 30rem;
    display: block;
    transition: all .3s;
    color: white;

    &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(black, .1);
        border: solid 1px $color-copper-2;
    }

    &:focus:invalid {
        border-bottom: 1px solid red;
    }

    &::-webkit-input-placeholder {
        color: rgba($color-grey-mid, 1);
    }
}

@mixin button-copper {
    color: $color-copper-2;
    padding: .5rem 1rem;
    background-image: $copper-gradient;
    border: none;
    color: black;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(black, .8);
    font-weight: 200;
    font-size: 2rem;
    transition: all .25s;
    width: 100%;
    height: 3rem;

    &:hover{
        background-image: $gradient-dark;
        // background-color: $color-grey-mid;
        border: .25px solid $color-copper-2;
        color: $color-copper-2;
        transform: scale(1.1);
    }
}

@mixin wrap-text{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 5px;
        z-index: 9000;
    }

    &::-webkit-scrollbar-thumb {
        // background-color:rgba($color-copper-2,0.3);
        border-radius: 20px;

        // border: 3px solid orange;
      }
      
    


    // &:hover{
    //     &::-webkit-scrollbar {
    //         width: 5px;
    //         z-index: 9000;
    //     }
    //     &::-webkit-scrollbar-track {
    //         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    //         z-index: 9000;
    //     }
    //     &::-webkit-scrollbar-thumb {
    //         background-color:rgba($color-copper-2,0.5);
    //       opacity: 0.1;
    //       border-radius: 20px;
    //       z-index: 9000;
    //     }
    // }
    // min-width: 0;
}

@mixin page-format {
    width: 75vw;
    height: 90vh;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.5);
}