// COLORS //
$gradient-dark: linear-gradient(to right bottom, rgba(black, 1), rgba(black, .9));
$gradient-dark-mid: linear-gradient(to right bottom, rgba(black, 0.4), rgba(black, .7));

$color-copper-1:#CB6D51;
$color-copper-2:#D4785C;
$color-copper-3:#DA8A68;
$color-copper-4:#DD9B72;

$color-grey-dark:#0a0a0a;
$color-grey-mid:#111111;

$copper-gradient: linear-gradient( to bottom right,
                    (rgba($color-copper-1, 1)),
                    (rgba($color-copper-2, 1)), 
                    (rgba($color-copper-3, 1)), 
                    (rgba($color-copper-4, 1)));

//formatting//
$box-shadow-large: 0 1rem 3rem rgba(black, .1);
$border: 1rem;