.class-stats {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    justify-content: stretch;
    overflow: hidden;

    @include respond(big-tablet) {
        grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr;
    }

    @include respond(tablet) {
        grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr;
    }

    @include respond(big-phone) {
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: 1fr; 
        overflow: visible;
    }

    &__roster-container {
        grid-row: 1 / span 4;
        grid-column: 1 / span 1;
        @include component-format;
        overflow: auto;

        @include respond(big-tablet) {
            grid-row: 1 / span 4;
            grid-column: 1 / span 1;
        }

        @include respond(tablet) {
            grid-row: 1 / span 4;
            grid-column: 1 / span 1;
        }

        @include respond(big-phone) {
            grid-row: 3/ span 1;
            grid-column: 1 / span 1;
        }

        &-shell{
            height: auto;
            overflow: hidden; 
        }
    }

    &__class-name {
        grid-row: 1 / span 1;
        grid-column: 2 / span 2;
        @include component-format;
        overflow: hidden;

        @include respond(big-tablet) {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(tablet) {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(big-phone) {
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
        }
    }

    &__total-participation {
        grid-row: 2 / span 1;
        grid-column: 2 / span 2;
        @include component-format;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(big-tablet) {
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(tablet) {
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(big-phone) {
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
        }
    }

    &__graphics {
        grid-row: 3 / span 1;
        grid-column: 2 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: fill;
        @include component-format;

        @include respond(big-tablet) {
            grid-row: 5 / span 1;
            grid-column: 1 / span 2;
        }

        @include respond(tablet) {
            grid-row: 5 / span 1;
            grid-column: 1 / span 2;
        }

        @include respond(big-phone) {
            display: none;
        }
    }

    &__total-assessments {
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
        @include component-format;

        @include respond(big-tablet) {
            grid-row: 3 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(tablet) {
            grid-row: 3 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(big-phone) {
            display: none;
        }

    }

    &__last-assessment {
        grid-row: 4 / span 1;
        grid-column: 3 / span 1;
        @include component-format;
        

        @include respond(big-tablet) {
            grid-row: 4 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(tablet) {
            grid-row: 4 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(big-phone) {
            display: none;
        }
    }

    &__instructions {
        display:grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        height: 90%;
        width: 95%;
        justify-items: center;
        margin: 0 2rem;
        text-align: center;
        animation: pulsate 1s infinite;

        &--welcome {
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
            font-size: 2.8rem;
            font-weight: 100;
            align-self: end;
        }

        &--guide {
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
            color: $color-highlighted-text;
            font-size: 1.75rem;
            font-weight: 150;
        }
    }
}