.edit-class {
    display: grid;
    grid-template-rows: .25fr .5fr .35fr .35fr;
    grid-template-columns: 1fr 1fr .5fr .5fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    overflow: hidden;
    justify-content: stretch;

    @include respond(big-tablet) {
        grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr;
    }

    @include respond(tablet) {
        grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr;
    }

    @include respond(big-phone) {
        grid-template-rows: repeat(5, max-content);
        grid-template-columns: 1fr; 
        overflow: visible;
    }

    &__roster-container {
        grid-row: 1 / span 4;
        grid-column: 1 / span 1;
        @include component-format;
        overflow: auto;  

        @include respond(big-tablet) {
            grid-row: 1 / span 4;
            grid-column: 1 / span 1;
        }

        @include respond(tablet) {
            grid-row: 1 / span 4;
            grid-column: 1 / span 1;
        }

        @include respond(big-phone) {
            grid-row: 3 / span 1;
            grid-column: 1 / span 1;
        }

        &-shell{
            height: auto;
            overflow: hidden; 
        }
    }

    &__student-body-container {
        grid-row: 1 / span 4;
        grid-column: 2 / span 1;
        @include component-format;
        overflow: auto; 

        @include respond(big-tablet) {
            grid-row: 1 / span 3;
            grid-column: 2 / span 1;
        }

        @include respond(tablet) {
            grid-row: 1 / span 3;
            grid-column: 2 / span 1;
        }

        @include respond(big-phone) {
            grid-row: 4 / span 1;
            grid-column: 1 / span 1;
        }

        &-shell{
            height: auto;
            overflow: hidden; 
        }
    }

    &__roster-label {
        color: $color-highlighted-text;
        font-size: 1.75rem;
        margin-left: 2rem;
    }

    &__roster-instructions {
        color: white;
        font-size: 1.75rem;
        margin: .5rem 3rem;
        // margin-left: 3rem;
    }

    &__class-name {
        grid-row: 1 / span 1;
        grid-column: 3 / span 2;
        @include component-format;
        font-weight: 100;
        font-size: 3rem;
        padding: 1rem;
        color: $color-copper-2;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(big-tablet) {
            display: none;
        }

        @include respond(tablet) {
            display: none;
        }

        @include respond(big-phone) {
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
            display: flex;
        }
    }

    &__message-center {
        grid-row: 2 / span 1;
        grid-column: 3 / span 2;
        @include component-format;
        display:grid;
        // grid-template-rows: repeat(1, 1fr);
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: 1fr;
        // grid-row-gap: 1rem;
        height: 100%;
        width: 100%;
        place-content: center;
        padding: 2rem;

        @include respond(big-tablet) {
            grid-row: 5 / span 1;
            grid-column: 1 / span 1;
        }

        @include respond(tablet) {
            grid-row: 5 / span 1;
            grid-column: 1 / span 1;
        }

        // @include respond(big-phone) {
        //     display: none;
        // }

        @include respond(big-phone) {
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
        }

        &-text{

            font-size: 2.1rem;
            font-weight: 100;
            text-align: center;

            @include respond(big-tablet) {
                font-size: 2.2rem;
                font-weight: 100;
                text-align: center;
            }
    
            @include respond(tablet) {
                font-size: 2.1rem;
                font-weight: 100;
                text-align: center;
            }

            @include respond(big-phone) {
                font-size: 2rem;
                font-weight: 100;
                text-align: center;
            }
        }

        &-add {
            border-bottom: solid 1px $color-highlighted-text;
            padding-bottom: .5rem;
        }

        &-remove {
            padding-top: .5rem;    
        }
    }

    &__class-count {
        grid-row: 3 / span 1;
        grid-column: 3 / span 2;
        @include component-format;

        @include respond(big-tablet) {
            grid-row: 5 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(tablet) {
            grid-row: 5 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(big-phone) {
            display: none;
        }
    }

    &__controll {
        grid-row: 4 / span 1;
        grid-column: 3 / span 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 1rem;
        grid-column-gap: 2rem;
        align-items: center;
        justify-items: center;

        @include respond(big-tablet) {
            grid-row: 4 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(tablet) {
            grid-row: 4 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond(big-phone) {
            grid-row: 5 / span 1;
            grid-column: 1 / span 1;
        }

        &-toggle{
            display: none;
        }

        &-btn {
            @include toggle-button
        }

        &-new-student{
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
        }

        &-rename-class{
            grid-row: 1 / span 2;
            grid-column: 2 / span 1;
        }

        &-delete-student{
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
        }
    }

    &__forms{
        z-index: 2000;
        position: fixed;
    }
}