.student-home{
    display: grid;
    grid-template-rows:1fr 2fr 2fr 1fr;;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    justify-content: stretch;
    overflow: hidden;

    @include respond(big-tablet) {
        grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr;
    }

    &__assessments {
        grid-row: 1 / span 4;
        grid-column: 1 / span 1;
        @include component-format;
        overflow: auto;

        @include respond(big-tablet) {
            grid-row: 1 / span 4;
            grid-column: 1 / span 1;
        }

        &-shell{
            height: auto;
            overflow: hidden; 
        }
    }

    &__name {
        grid-row: 1 / span 1;
        grid-column: 2 / span 2;
        @include component-format;
        overflow: hidden;

        @include respond(big-tablet) {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
        }
    }

    &__score {
        grid-row: 2 / span 1;
        grid-column: 2 / span 2;
        @include component-format;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;    

        @include respond(big-tablet) {
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
        }
    }

    &__graphics {
        grid-row: 3 / span 1;
        grid-column: 2 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: fill;
        @include component-format;   
        
        @include respond(big-tablet) {
            grid-row: 5 / span 1;
            grid-column: 1 / span 2;
        }
    }

    &__ranking {
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
        @include component-format;    

        @include respond(big-tablet) {
            grid-row: 3 / span 1;
            grid-column: 2 / span 1;
        }
    }

    &__preferences {
        grid-row: 4 / span 1;
        grid-column: 3 / span 1;
        @include component-format;

        @include respond(big-tablet) {
            grid-row: 4 / span 1;
            grid-column: 2 / span 1;
        }

        &-btn {
            @include toggle-button;

            @include respond(big-desktop) {
                font-size: 2.5rem;
            }

            @include respond(big-tablet) {
                font-size: 2.5rem;
            }
        }
         
    }

    &__forms{
        z-index: 2000;
        position: fixed;
    }
}