.student-home{
    display: grid;
    grid-template-rows:1fr 2fr 2fr 1fr;;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    justify-content: stretch;
    overflow: hidden;

    &__assessments {
        grid-row: 1 / span 4;
        grid-column: 1 / span 1;
        @include component-format;
        overflow: auto;

        &-shell{
            height: auto;
            overflow: hidden; 
        }
    }

    &__name {
        grid-row: 1 / span 1;
        grid-column: 2 / span 2;
        @include component-format;
        overflow: hidden;
    }

    &__score {
        grid-row: 2 / span 1;
        grid-column: 2 / span 2;
        @include component-format;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    &__graphics {
        grid-row: 3 / span 1;
        grid-column: 2 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: fill;
        @include component-format;    
    }

    &__ranking {
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
        @include component-format;    
    }

    &__preferences {
        grid-row: 4 / span 1;
        grid-column: 3 / span 1;
        @include component-format;
         
    }

    &__forms{
        z-index: 2000;
        position: fixed;
    }
}