.student-home{
    // height: 90vh;
    overflow: hidden;
    display: grid;
    height: 85vh;
    min-height: 0;  /* NEW */
    min-width: 0; 
    justify-content: stretch;
    overflow: auto;
    // grid-template-rows: repeat(2, 1fr) 3fr 2fr 1fr;
    grid-template-rows:1fr 3fr 2fr .5fr;

    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    min-height: 0;  /* NEW */
    min-width: 0; 
    padding: 2rem;

    // &__header {
    //     grid-row: 1 / span 1;
    //     grid-column: 1 / span 2;
    // }
    
    &__assessments {
        grid-row: 1 / span 4;
        grid-column: 1 / span 1;
        overflow-x: hidden;
        overflow-y: auto;
        @include component-format;

        

        &:hover{
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            }
            &::-webkit-scrollbar-thumb {
              background-image: $copper-gradient;
              opacity: 0.5;
              border-radius: $border;
            }
        }
    }

    &__name {
        grid-row: 1 / span 1;
        grid-column: 2 / span 2;
        @include component-format;
    }

    &__score {
        grid-row: 2 / span 1;
        grid-column: 2 / span 2;
        @include component-format;    
    }

    &__graphics {
        grid-row: 3 / span 1;
        grid-column: 2 / span 2;
        @include component-format;    
    }

    &__ranking {
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
        @include component-format;    
    }

    &__preferences {
        grid-row: 4 / span 1;
        grid-column: 3 / span 1;
        @include component-format;    
    }

}