.header {
    background-image: linear-gradient(
        to bottom,
        rgba(128, 128, 128, 0.192)
            ,rgba(0, 0, 0, 0.521)
    );
    /* background-color: gray; */
    text-align: center;
    font-weight: 100;
    /* color: linear-gradient(
        to bottom,
        #cb6d51,
            #d4785c
                ,#da8868,
                    #dd9b72
    ); */
    background-position: top;
    position: relative;
    font-size: 120px;
}


.title {
    background-image: linear-gradient(
        to bottom right,
        #cb6d51,
            #d4785c
                ,#da8868,
                    #dd9b72
    );
    color: transparent;
    background-clip: text;
    font-weight: 100;

}

.title-2 {
    font-size: 80px;
}

.logo {
    background-image: "../img/test.jpg"
}

/* font-size: 3.5rem;
text-transform: uppercase;
font-weight: 700;
display: inline-block;
background-image: linear-gradient(to right, rgb(126, 213, 111), rgb(40, 180, 133));
background-clip: text;
color: transparent;
letter-spacing: 2px; */
