.class-home {
    display: grid;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 1fr 5fr;
    background-color: $color-grey-mid;
    border-radius: 1rem;
    align-content: space-between;
    @include page-format;

    @include respond(big-tablet) {
        grid-template-rows: 5rem 1fr;
        grid-template-columns: 15rem 1fr;
    }

    @include respond(tablet) {
        grid-template-rows: 5rem 1fr;
        grid-template-columns: 15rem 1fr;
    }

    @include respond(big-phone) {
        grid-template-rows: max-content max-content repeat(2, max-content);
        grid-template-columns: 1fr;
        height: min-content;
        min-height: 100vh;
        border-radius: 0;
    }

    &__header {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        background-color: $color-grey-mid;

        @include respond(big-phone) {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            margin: 1rem 0;
        }
    }

    

    &__nav {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;

        @include respond(big-phone) {
            grid-column: 1 / span 1;
            grid-row: 3/ span 1;
        }
    }

    &__content {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        font-size: 2rem;
        padding: .5rem 2rem 2rem 2rem;
        overflow: hidden;

        @include respond(big-phone) {
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            height: 100%;
        }

        &--display {
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
        }
    }

    &__phone-profile {
        display: none;

        @include respond(big-phone) {
            grid-column: 1 / span 1;
            grid-row: 4 / span 1;
           display: flex;
        }
    }

}