.landing-page {
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr .60fr;
    @include page-format;
    place-items: center;
    background-image: linear-gradient(
        to right bottom, 
        rgba(black, 0.9), 
        rgba(black, 0.7)), 
        url(../img/landing-page.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__content{
        grid-row: 1 / span 1;
        display: grid;
        align-content: center;
        justify-content: center;
        place-items: center;
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: min-content;
        background-color: rgba($color-grey-light, 0.6);
        box-shadow: 0 1rem 2rem rgba(black, .5);

        &-logo {
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
            padding: 1rem;

            &--box{
                margin-left: 3rem;
                width: 30rem;
            }
        }
    
        &-form { 
            justify-self: center; 
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
            width: 100%;

            &-login{}

            &-register{
                display: none; 
            }
            &-checkbox {
                display: none;
            }
            &-checkbox:checked ~ &-login{
                display: none; 
            }
            &-checkbox:checked ~ &-register {
                display: flex;
            }
        }
    }
}