.select-class {
    height: 90vh;
    background-color: rgba(gray, 0.5);
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    font-style: unset;
    align-content: space-between;
    @include component-format;
    text-transform: none;
    background-image: linear-gradient(
        to right bottom, 
        rgba(black, 0.9), 
        rgba(black, 0.7)), 
        url(../img/landing-page.jpg);

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &__logo {
            align-self: end;

            &--box{
                transform: translateY(20vh);
                grid-row: 1;
                grid-column: 2;
                display: flex;
                flex-direction: row;
                justify-content: center;
            width: 100%;
    
            }
        }


    &__sidebar {
        background-color: $color-grey-dark;
        grid-row: 1 / span 3;
        grid-column: 1 /span 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 1fr;

        &--header{
            grid-row: 1 / span 1;
            grid-column: 1 /span 1;
            background-color: rgba(black, 0.2);
            
        }

        &--class-list {
            grid-row: 2 / span 1;
            grid-column: 1 /span 1;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr .5fr ;

            &-selection {
                grid-row: 1 / span 1;
                grid-column: 1 /span 1;
            }

            &-create-class {
                grid-row: 2 / span 1;
                grid-column: 1 /span 1;

                &-checkBox {
                // display: none;
                }

                &-button {
                    display:flex;
                    justify-content: center;
                    align-items: center;

                    &-span {
                        z-index: 2000;
                        background-color: transparent;
                        width: 100;
                        font-size: 1.5rem;
                        font-weight: 200;
                    }
            
                    &:hover {
                        color: $color-grey-mid;
                    }
                }

                &-form{
                    display: none;
                }

                &-checkBox:checked + &-form {
                    opacity: 1;
                    display: flex;
                    transform: scale(1);
                    // background-color: rebeccapurple;
                }
            }

        }

        &--footer{
            grid-row: 3 / span 1;
            grid-column: 1 /span 1;
            background-color: rgba(black, 0.2);
        }
        
    }






}