.delete-student-form {
    &__content{
        @include form-background;
        
        &--form{
            display: grid;
            grid-template-rows: 1fr 4fr 1fr;
            grid-template-columns: repeat(2, max-content);
            overflow: auto;
            max-height: 50vh;
            @include form;
        
            &-title {
                grid-row: 1 / span 1;
                grid-column: 1 / span 1;
                @include form-title
            }
    
            &-info-box{
                grid-row: 2 / span 1;
                grid-column: 1 / span 1;
                height: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                width: 35rem;
                font-size: 2.5rem;

                &-welcome{
                    font-size: 2rem;
                    font-weight: 100;
                }

                &-deleted{
                    &-name{
                        color: $color-copper-2;
                        font-size: 3rem;
                    }
                }

                &-blank-schedule{
                    font-size: 2rem;
                    font-weight: 100;
                }

                &-remove{

                    &-text{
                        font-size: 2.5rem;
                        font-weight: 100;
                    }

                    &-schedule{
                        list-style: none;
                        color: $color-copper-2;
                        margin-left: 1rem;
                    }
                }
            }

            &-submit{
                grid-row: 3 / span 1;
                grid-column: 1 / span 1;
                justify-self: start;
                @include form-submit;
            }
            
            &-roster-container {
                grid-row: 1 / span 3;
                grid-column: 2 / span 1;
                @include component-format;
                overflow-y: auto;
                max-height: 100%;
                padding: 2rem;
                z-index: 9951;
                background-color: $color-grey-dark;
                outline: solid .005rem $color-copper-2;
            }
        }
    }
    
    &__checkbox {
        display: none;
    }

    &__checkbox:checked + &__content {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}