.edit-class-form {

    &__content{
        @include form-background;
        
        &--form{
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, min-content);
            @include form;
    
    
            &-title {
                grid-row: 1 / span 1;
                grid-column: 1 / span 1;
                @include form-title;
            }
    
            &-input-name {
                grid-row: 2 / span 1;
                grid-column: 1 / span 1;
                @include form-input-2;  
            }

            &-submit{
                grid-row: 2 / span 1;
                grid-column: 2 / span 1;
                @include form-submit
            }
        }
    }
    
    &__checkbox {
        display: none;
    }

    &__checkbox:checked + &__content {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}