.landing-form {

    &__login{
        font-size: 2rem;
        padding: 2rem;
        height: 35rem;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        flex-direction: column;
        place-items: center;
        
        &-username {
            grid-row: 1 / span 1;
        }
    
        &-password{
            grid-row: 2 / span 1;
        }
    
        &-submit{
            grid-row: 3 / span 1;
            @include form-submit-dark;
        }
    
        &-forgot-password{
            grid-row: 4 / span 1;
            color: $color-copper-2;
            width:30rem;
            text-align: center;
            padding: 2rem;
            border-bottom: 1px solid $color-copper-2;
        }
    
        &-register{
            grid-row: 5 / span 1;
            width:97%;
        }
    }

    &__register{
        font-size: 2rem;
    
        padding: 2rem;
        height: 35rem;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        flex-direction: column;
        place-items: center;

        &-username {
            grid-row: 1 / span 1;
        }
    
        &-password{
            grid-row: 2 / span 1;
        }
    
        &-confirm-password{
            grid-row: 3 / span 1;
        }

        &-submit{
            grid-row: 4 / span 1;
            @include form-submit-dark
        }
    
    
        &-switch{
            grid-row: 5 / span 1;
            width:97%;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        text-transform: uppercase;
        background-image: $copper-gradient;
        transition: .1s;
        height: 4rem;
        padding: 1rem;
        
        &-login {
            grid-row: 2;
            grid-column: 1;
        }

        &-register {
            grid-row: 3;
            grid-column: 1;
            margin: 3rem;
        }
    }

    &__textbox {
        @include form-input-2
    }
}