.user-preferences-form {

    &__content{
        // height: 100vh;
        // width: 100vw;
        // // display: none;
        // display: grid;
        // grid-template-rows: repeat(3, 1fr);
        // grid-template-columns: repeat(3, 1fr);
        // position: fixed;
        // top: 0;
        // left: 0;
        // opacity: 0;



        // visibility: hidden;



        // z-index: 1000;
        // background-color: rgba(#000000, .8);
        // // background-image: $copper-gradient;
        // transform: scale(.5);
        
        // transition: all .25s;

        @include form-background;
        
        &--form{
            width: 35rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(1, 1fr);
            @include form;

            &-edit{
                grid-row: 1/span 1;
                grid-column: 1/span 1;
                margin-bottom: 1rem;
                // background-color: blue;
            }

            &-delete{
                grid-row: 2/span 1;
                grid-column: 1/span 1;
                // background-color: blueviolet;
                border-top: solid 2px $color-copper-2;
            }
            // grid-row: 2 / span 1;
            // grid-column: 2 / span 1;
            // display: grid;
            // z-index: 9950;
            // grid-template-rows: repeat(5, 1fr);
            // grid-template-columns: .5fr 1fr .5fr;
            // justify-items: center;
            // align-items: center;
            // padding: 3rem;
            // border: 1px solid $color-copper-2;
            // position: absolute;
    
    
        //     &-title {
        //         grid-row: 2 / span 1;
        //         grid-column: 2 / span 1;
        //         font-size: 5rem;
        //         font-weight: 100;
        //         color: $color-copper-2;
        //     }
    
        //     &-name {
        //         grid-row: 3 / span 1;
        //         grid-column: 2 / span 1;
        //         height: 5rem;
        //         font-size: 4rem;
        //         border: 1px solid $color-grey-mid;
        //         background-color: $color-grey-mid;
        //         border-radius: 1rem;
        //         color: white;
        //         text-align: center;
        //     }

        //     textarea:focus, input:focus{
        //         outline: none;

        //     }
    
        //     &-submit{
        //         grid-row: 4 / span 1;
        //         grid-column: 2 / span 1;
        //         color: $color-copper-2;
        //         padding: .5rem 1rem;
        //         background-image: $copper-gradient;
        //         border: none;
        //         color: black;
        //         border-radius: 1rem;
        //         box-shadow: 0 1rem 3rem rgba(black, .8);
        //         font-weight: 200;
        //         font-size: 4rem;
        //         transition: all .25s;

        //         &:hover{
        //             background-image: $gradient-dark;
        //             // background-color: $color-grey-mid;
        //             border: .25px solid $color-copper-2;
        //             color: $color-copper-2;
        //             transform: scale(1.1);
        //         }

                
        //     }

            &-toggle{
                grid-row: 1 / span 1;
                grid-column: 3 / span 1;
                font-size: 3rem;
                // justify-self: end;
                // align-self: end;
                margin: 2rem;
                position: absolute;
                z-index: 9960;
                transform: translateY(-1.5rem);
                transform: translateX(11.5rem);

                &:hover {
                    color: $color-copper-2;
                }
            }
        }


        // display: grid;

    }
    
    &__checkbox {
        display: none;
    }

    &__checkbox:checked + &__content {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        // background-color: rebeccapurple;
    }



}

// .new-student-form__checkbox:checked + .new-student-form__content{
//     display: grid;
//         background-color: rebeccapurple;

// }



















// .new-student-toggle {
//     grid-row: 1 / span 1;

//     transition: all 1s;
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr;
//     // height: 75vh;
//     height: 100%;
//     width: 50px;
//     color: white;
//     // background-color: red;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-weight: 200;
//     font-size: 2rem;
//     transition: all .5s;
//     grid-column: 3 / span 1;
//     background-image: $color-grey-dark;

//     &__content{
//         grid-row: 2 / span 1;
//         transform: rotate(90deg);
//         white-space: nowrap;
//         // background-color: rebeccapurple;
//         display: flex;
//         flex-wrap: nowrap;
//         height: 100%;
//         width: 100%;
//         height: min-content;
//         justify-content: center;
//         align-items: center;
//         // color: black;

//     }
//     &:hover{
//         // color: $
//         color: $color-copper-2;
//         font-weight: 400;
//     }

// }