@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  background-image: linear-gradient(to right bottom, black, rgba(0, 0, 0, 0.9));
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  color: white; }

.container {
  max-width: 120rem;
  min-width: 50vw;
  margin: 5rem auto;
  height: 90vh;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column; }

.header {
  height: 7rem; }

.footer {
  height: 7rem; }

h2 {
  font-size: 4rem;
  font-weight: 200; }

.link {
  text-decoration: none;
  color: black; }

.assessment-card {
  display: grid;
  grid-template-rows: 55% 45%;
  grid-template-columns: 45% 50% 5%;
  height: calc(100% / 5);
  place-items: stretch;
  height: 100%;
  background-color: #0a0a0a;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  overflow: hidden;
  font-weight: 100;
  position: relative;
  transition: all 2s; }
  .assessment-card__flipcard {
    position: relative;
    transition: all .8s ease;
    display: flex; }
    .assessment-card__flipcard--side {
      grid-row: 1 / span 2;
      grid-column: 1 / span 1;
      padding: 1rem;
      font-size: 5rem;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
      position: absolute;
      backface-visibility: hidden;
      height: 100%;
      width: 100%; }
    .assessment-card__flipcard--front {
      display: flex;
      transition: all 0.5s ease;
      justify-content: center;
      align-items: center;
      background-color: #0a0a0a; }
    .assessment-card__flipcard--back {
      display: flex;
      background-color: #0a0a0a;
      transition: all 0.5s ease;
      opacity: 50%;
      font-size: 2rem;
      transform: rotateX(180deg); }
    .assessment-card__flipcard--name {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 1rem;
      border: solid;
      border-width: 1px;
      border-color: #111111; }
    .assessment-card__flipcard--comment {
      display: flex;
      align-items: center;
      background-color: transparent;
      color: white;
      height: 100%;
      width: 100%;
      border: 1px solid #111111;
      padding: 2rem;
      font-size: 2rem;
      resize: none;
      z-index: 2000; }
      .assessment-card__flipcard--comment-name {
        opacity: 5%;
        display: flex; }
    .assessment-card__flipcard--checkbox {
      display: none; }
  .assessment-card__flipcard--checkbox:checked ~ .assessment-card__flipcard--front {
    transform: rotateX(-180deg); }
  .assessment-card__flipcard--checkbox:checked ~ .assessment-card__flipcard--back {
    opacity: 100%;
    transform: rotateX(0); }
  .assessment-card__comment {
    grid-row: 1 / 3;
    grid-column: 3 / span 1;
    display: flex;
    align-content: stretch;
    background-color: rgba(255, 255, 255, 0.541); }
    .assessment-card__comment--checkbox {
      display: none; }
    .assessment-card__comment--label {
      display: flex;
      transform: rotate(90deg);
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: 500; }
  .assessment-card textarea:focus, .assessment-card input:focus {
    outline: 1px solid #D4785C; }
  .assessment-card__score {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr); }
    .assessment-card__score--true {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      margin: 1rem;
      border-radius: 1rem;
      background-color: #111111;
      color: #D4785C;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      transition: all .25s; }
      .assessment-card__score--true:hover {
        transform: scale(1.05); }
      .assessment-card__score--true:checked {
        background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
        color: black; }
    .assessment-card__score--false {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      margin: 1rem;
      border-radius: 1rem;
      background-color: #111111;
      color: #D4785C;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      transition: all .25s; }
      .assessment-card__score--false:hover {
        transform: scale(1.05); }
      .assessment-card__score--false:checked {
        background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
        color: black; }
  .assessment-card__radio-input {
    display: none; }
  .assessment-card__radio-input:checked + .assessment-card__radio-label {
    background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
    color: black;
    font-weight: 300; }
  .assessment-card__btn {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1; }
    .assessment-card__btn--submit {
      margin: 1rem;
      border-radius: 1rem;
      background-color: #111111;
      color: #D4785C;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      font-weight: 100;
      border: none;
      cursor: pointer; }
    .assessment-card__btn--checkbox {
      display: none;
      z-index: 5000;
      position: absolute; }
  .assessment-card__testing {
    position: absolute;
    z-index: 5000; }
  .assessment-card__btn--checkbox:checked + .assessment-card__0 {
    display: none;
    transition: all 1s; }
  .assessment-card__btn--checkbox:checked + .assessment-card__1 {
    display: none; }
  .assessment-card__btn--checkbox:checked + .assessment-card__2 {
    display: none; }
  .assessment-card__btn--checkbox:checked + .assessment-card__3 {
    display: none; }
  .assessment-card__btn--checkbox:checked + .assessment-card__4 {
    display: none; }

.assessment-list__assessment {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 65% 30% 5%;
  margin-bottom: 2rem;
  background-color: #0a0a0a;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05); }
  .assessment-list__assessment--date {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    font-size: 4rem;
    align-items: center;
    justify-content: center; }
  .assessment-list__assessment--score {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    width: min-content; }
    .assessment-list__assessment--score-icon {
      height: 3rem;
      grid-row: 1;
      grid-column: 1;
      transform: translatex(-9rem); }
      .assessment-list__assessment--score-icon-up {
        fill: rgba(0, 255, 128, 0.2); }
      .assessment-list__assessment--score-icon-down {
        fill: rgba(255, 0, 0, 0.419); }
  .assessment-list__assessment--comment {
    grid-row: 1;
    grid-column: 3; }
    .assessment-list__assessment--comment-trigger {
      background-color: white; }

.class-list {
  height: 100%;
  list-style: none;
  text-decoration: none;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem; }
  .class-list__container {
    list-style: none; }
  .class-list__class {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    width: 100;
    padding: 1rem;
    color: #CB6D51;
    margin: 1rem 0rem;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    text-decoration: none;
    text-transform: uppercase;
    align-content: center; }
    .class-list__class::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      transform: scaleY(0);
      transform-origin: top;
      transition: transform .15s, width .2s .15s; }
    .class-list__class:hover::before {
      transform: scaleY(1);
      width: 100%; }
    .class-list__class:hover {
      color: #111111; }
    .class-list__class--name {
      grid-column: 2 / span 1;
      grid-row: 1;
      z-index: 200;
      transition: all .2s;
      font-size: 1.5rem;
      align-content: center;
      font-weight: 200; }
    .class-list__class--period {
      grid-column: 1 / span 1;
      grid-row: 1;
      z-index: 200;
      transition: all .35s;
      margin-left: 1rem;
      color: white;
      font-weight: 200;
      align-items: center; }

.class-score {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .class-score__caption {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
  .class-score__score {
    color: #D4785C;
    justify-content: center;
    align-items: flex-start;
    display: flex; }
    .class-score__score--number {
      font-size: 22rem;
      font-weight: 100; }
    .class-score__score--percent {
      margin-top: 5rem;
      font-size: 5rem;
      color: white;
      font-weight: 100; }

.class-title {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center; }
  .class-title__class-period {
    font-weight: 200;
    font-size: 7rem; }
  .class-title__class-subject {
    font-weight: 200;
    font-size: 5rem;
    margin-left: 2rem;
    color: #D4785C;
    align-items: baseline; }

.graph {
  background-color: red; }

.landing-form {
  grid-row: 1 / 4;
  grid-column: 2;
  margin: 10rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 115vh;
  max-height: 120vh;
  width: 40vw;
  color: white;
  z-index: 400;
  transform: translatex(80vw) translateY(-25vh);
  transition: all .5s;
  padding: 5rem;
  background-image: linear-gradient(to bottom right, rgba(203, 109, 81, 0.4), rgba(212, 120, 92, 0.3), rgba(218, 138, 104, 0.4), rgba(221, 155, 114, 0.3)); }
  .landing-form__textbox {
    font-size: 3rem;
    font-weight: 100;
    margin: 1rem;
    height: 6rem;
    color: grey; }
  .landing-form__label {
    margin: 1rem;
    margin-bottom: .25rem;
    font-size: 3rem;
    font-weight: 200; }
  .landing-form__login {
    grid-template-rows: repeat(6, 1fr); }
  .landing-form__register {
    grid-template-rows: repeat(13, 1fr); }

.menu-footer {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  font-weight: 200;
  align-items: center;
  align-content: center;
  height: 100%; }

.menu-header {
  display: flex; }
  .menu-header__logo {
    max-height: 100%;
    max-width: 60%;
    margin: 1rem; }

.new-class-form__content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 2500;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(0.5);
  transition: all .25s; }
  .new-class-form__content--form {
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    z-index: 9950;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: .5fr 1fr .5fr;
    justify-items: center;
    align-items: center;
    padding: 3rem;
    border: 1px solid #D4785C;
    position: absolute; }
    .new-class-form__content--form-title {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
      font-size: 5rem;
      font-weight: 100;
      color: #D4785C; }
    .new-class-form__content--form-input {
      height: 5rem;
      font-size: 4rem;
      border: 1px solid #111111;
      background-color: #111111;
      border-radius: 1rem;
      color: white;
      text-align: center; }
    .new-class-form__content--form-subject {
      grid-row: 3 / span 1;
      grid-column: 2 / span 1; }
    .new-class-form__content--form-period {
      grid-row: 4 / span 1;
      grid-column: 2 / span 1; }
    .new-class-form__content--form textarea:focus, .new-class-form__content--form input:focus {
      outline: none; }
    .new-class-form__content--form-submit {
      grid-row: 5/ span 1;
      grid-column: 2 / span 1;
      color: #D4785C;
      padding: .5rem 1rem;
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      border: none;
      color: black;
      border-radius: 1rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8);
      font-weight: 200;
      font-size: 4rem;
      transition: all .25s; }
      .new-class-form__content--form-submit:hover {
        background-image: linear-gradient(to right bottom, black, rgba(0, 0, 0, 0.9));
        border: 0.25px solid #D4785C;
        color: #D4785C;
        transform: scale(1.1); }
    .new-class-form__content--form-toggle {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
      font-size: 3rem;
      margin: 2rem;
      position: absolute;
      z-index: 9960;
      transform: translateY(-1.5rem);
      transform: translateX(11.5rem); }
      .new-class-form__content--form-toggle:hover {
        color: #D4785C; }

.new-class-form__checkbox {
  display: none; }

.new-class-form__checkbox:checked + .new-class-form__content {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.new-student-form__content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(0.5);
  transition: all .25s; }
  .new-student-form__content--form {
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    z-index: 9950;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: .5fr 1fr .5fr;
    justify-items: center;
    align-items: center;
    padding: 3rem;
    border: 1px solid #D4785C;
    position: absolute; }
    .new-student-form__content--form-title {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
      font-size: 5rem;
      font-weight: 100;
      color: #D4785C; }
    .new-student-form__content--form-name {
      grid-row: 3 / span 1;
      grid-column: 2 / span 1;
      height: 5rem;
      font-size: 4rem;
      border: 1px solid #111111;
      background-color: #111111;
      border-radius: 1rem;
      color: white;
      text-align: center; }
    .new-student-form__content--form textarea:focus, .new-student-form__content--form input:focus {
      outline: none; }
    .new-student-form__content--form-submit {
      grid-row: 4 / span 1;
      grid-column: 2 / span 1;
      color: #D4785C;
      padding: .5rem 1rem;
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      border: none;
      color: black;
      border-radius: 1rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8);
      font-weight: 200;
      font-size: 4rem;
      transition: all .25s; }
      .new-student-form__content--form-submit:hover {
        background-image: linear-gradient(to right bottom, black, rgba(0, 0, 0, 0.9));
        border: 0.25px solid #D4785C;
        color: #D4785C;
        transform: scale(1.1); }
    .new-student-form__content--form-toggle {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
      font-size: 3rem;
      margin: 2rem;
      position: absolute;
      z-index: 9960;
      transform: translateY(-1.5rem);
      transform: translateX(11.5rem); }
      .new-student-form__content--form-toggle:hover {
        color: #D4785C; }

.new-student-form__checkbox {
  display: none; }

.new-student-form__checkbox:checked + .new-student-form__content {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.roster {
  padding: 1rem;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box; }
  .roster__student {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr;
    justify-content: space-between;
    font-size: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    margin: .25rem 0;
    align-items: center;
    min-width: 0;
    list-style: none;
    padding: .5rem 0rem;
    border-radius: 1rem;
    background-color: #111111;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #cb6d51, #d4785c, #da8a68, #dd9b72);
    background-size: 220%;
    transition: all 0.4s;
    cursor: pointer; }
    .roster__student--name {
      grid-row: 1 / span 1;
      grid-column: 1;
      margin-left: 1rem; }
      .roster__student--name a {
        color: white;
        text-decoration: none; }
      .roster__student--name-only {
        color: white; }
    .roster__student--score {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 1rem;
      color: #CB6D51; }
  .roster__edit-student {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr;
    margin: .5rem 0;
    justify-content: space-between;
    font-size: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    align-items: center;
    min-width: 0;
    list-style: none;
    padding: .5rem 0rem;
    border-radius: 1rem;
    background-color: #111111;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #cb6d51, #d4785c, #da8a68, #dd9b72);
    background-size: 220%;
    transition: all 0.4s;
    cursor: pointer; }
    .roster__edit-student--caption {
      grid-row: 1 / span 1;
      grid-column: 2 /span 1;
      display: flex;
      margin: 0 1rem;
      color: #CB6D51;
      justify-content: center;
      align-items: center;
      transform: translatey(-2px); }
      .roster__edit-student--caption:hover {
        color: white;
        font-size: 3rem; }
    .roster__edit-student:hover {
      background-position: 109%;
      color: white;
      font-size: 3rem;
      border: 1px solid #D4785C;
      transform: scaley(1.05);
      font-weight: 500; }
    .roster__edit-student--name {
      grid-row: 1 / span 1;
      grid-column: 1;
      margin-left: 2rem; }
      .roster__edit-student--name a {
        color: white;
        text-decoration: none; }
      .roster__edit-student--name-only {
        color: white; }

.assess-class {
  max-height: 70vh;
  min-height: 0;
  /* NEW */
  min-width: 0;
  overflow: auto;
  margin: 2rem; }
  .assess-class__card-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    justify-content: stretch;
    grid-row-gap: 2rem;
    height: 75vh;
    justify-content: stretch;
    min-height: 0;
    /* NEW */
    min-width: 0;
    list-style: none;
    transition: all 1s;
    margin-bottom: 2rem; }

.class-stats {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: max-content 3fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  height: 75vh;
  padding: 2rem;
  justify-content: stretch;
  overflow: hidden;
  min-height: 0;
  /* NEW */
  min-width: 0; }
  .class-stats__roster-container {
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    overflow: auto;
    /* NEW */
    min-width: 0; }
    .class-stats__roster-container:hover::-webkit-scrollbar {
      width: 10px; }
    .class-stats__roster-container:hover::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .class-stats__roster-container:hover::-webkit-scrollbar-thumb {
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      outline: 1px solid slategrey;
      opacity: 0.5; }
  .class-stats__class-name {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    overflow: hidden; }
  .class-stats__total-participation {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    overflow: hidden; }
  .class-stats__graphics {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: fill;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    overflow: hidden; }

.edit-class {
  display: grid;
  grid-template-rows: .1fr 1fr;
  grid-template-columns: 1fr 1fr .10fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  padding: 2rem;
  height: 75vh;
  overflow: auto;
  min-height: 0;
  /* NEW */
  min-width: 0;
  justify-content: stretch; }
  .edit-class__headline--roster {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    color: #D4785C; }
  .edit-class__headline--student-body {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    font-size: 3rem;
    color: #D4785C; }
  .edit-class__headline--title {
    font-size: 3rem; }
  .edit-class__roster-container {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    overflow: auto;
    /* NEW */
    padding: 2rem; }
    .edit-class__roster-container:hover::-webkit-scrollbar {
      width: 10px; }
    .edit-class__roster-container:hover::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .edit-class__roster-container:hover::-webkit-scrollbar-thumb {
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      opacity: 0.5;
      border-radius: 1rem; }
  .edit-class__student-body-container {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    overflow: auto;
    /* NEW */
    min-width: 0;
    padding: 2rem; }
    .edit-class__student-body-container:hover::-webkit-scrollbar {
      width: 10px; }
    .edit-class__student-body-container:hover::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .edit-class__student-body-container:hover::-webkit-scrollbar-thumb {
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      opacity: 0.5;
      border-radius: 1rem; }
  .edit-class__new-student {
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    overflow: hidden;
    transition: all .5s; }
    .edit-class__new-student-toggle {
      grid-row: 1 / span 1;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      height: 100%;
      width: 50px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 200;
      font-size: 2rem;
      transition: all .5s;
      grid-column: 3 / span 1;
      border-radius: 1rem; }
      .edit-class__new-student-toggle-content {
        grid-row: 2 / span 1;
        transform: rotate(90deg);
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
        height: min-content;
        justify-content: center;
        align-items: center;
        transition: all .5s; }
      .edit-class__new-student-toggle:hover {
        color: #D4785C;
        font-weight: 400;
        background-color: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)); }

.student-home {
  height: 75vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0.5fr repeat(2, 1fr);
  grid-template-columns: .8fr 2fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  min-height: 0;
  /* NEW */
  min-width: 0;
  padding: 2rem; }
  .student-home__assessments {
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
    overflow-x: hidden;
    overflow-y: auto;
    /* NEW */ }
    .student-home__assessments:hover::-webkit-scrollbar {
      width: 10px; }
    .student-home__assessments:hover::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .student-home__assessments:hover::-webkit-scrollbar-thumb {
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      opacity: 0.5;
      border-radius: 1rem; }
  .student-home__name {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05); }
  .student-home__score {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05); }
  .student-home__graphics {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    background-color: #0a0a0a;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05); }

.class-home {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 6fr;
  background-color: #111111;
  border-radius: 1rem; }
  .class-home__nav {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: rebeccapurple; }
  .class-home__content {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr;
    font-size: 2rem; }
    .class-home__content--display {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1; }
    .class-home__content--links {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
      display: flex;
      justify-content: space-around;
      margin: 0 2rem;
      margin-bottom: 2rem; }
      .class-home__content--links-link {
        background-color: rebeccapurple;
        width: calc(100% / 3);
        background-color: #0a0a0a;
        border-radius: 1rem;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        transition: all, .5s; }
        .class-home__content--links-link a {
          color: #CB6D51;
          text-decoration: none; }
        .class-home__content--links-link:not(:last-child) {
          margin-right: 2rem; }
        .class-home__content--links-link:hover {
          transform: scale(1.02);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          border: solid 1px #D4785C; }
      .class-home__content--links-icon {
        height: 8rem;
        fill: #111111; }

.landing {
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr .35fr;
  max-width: 120rem;
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../img/landing-page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .landing__logo {
    align-self: end; }
    .landing__logo--box {
      transform: translateY(20vh);
      grid-row: 1;
      grid-column: 1;
      display: flex;
      flex-direction: row;
      justify-self: center;
      width: 70rem; }
  .landing__checkbox {
    display: none; }
  .landing__checkbox-login:checked ~ .landing-form__login {
    transform: translatex(40vw) translateY(-25vh); }
  .landing__checkbox-register:checked ~ .landing-form__register {
    transform: translatex(40vw) translateY(-25vh); }
  .landing__formbox--register {
    grid-row: 2 / 4;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    justify-content: center;
    background-color: white;
    transform: translatex(50vw);
    transition: all 1s; }
  .landing__button {
    background-color: #0a0a0a;
    border-radius: 50px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.75rem;
    color: black;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
    transition: .1s;
    height: 4rem;
    width: 20rem;
    margin: 0 3rem; }
    .landing__button--login {
      grid-row: 2;
      grid-column: 1;
      align-self: end;
      justify-self: center; }
    .landing__button--register {
      grid-row: 3;
      grid-column: 1;
      margin: 3rem;
      justify-self: center; }
    .landing__button:hover {
      transform: scale(1.02);
      opacity: .9; }
    .landing__button:active {
      transform: translatey(1px); }

.select-class {
  height: 90vh;
  background-color: rgba(128, 128, 128, 0.5);
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
  font-style: unset;
  align-content: space-between;
  background-color: #0a0a0a;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../img/landing-page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .select-class__logo {
    align-self: end; }
    .select-class__logo--box {
      transform: translateY(20vh);
      grid-row: 1;
      grid-column: 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%; }
  .select-class__sidebar {
    background-color: #0a0a0a;
    grid-row: 1 / span 3;
    grid-column: 1 /span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr; }
    .select-class__sidebar--header {
      grid-row: 1 / span 1;
      grid-column: 1 /span 1;
      background-color: rgba(0, 0, 0, 0.2); }
    .select-class__sidebar--class-list {
      grid-row: 2 / span 1;
      grid-column: 1 /span 1;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr .5fr; }
      .select-class__sidebar--class-list-selection {
        grid-row: 1 / span 1;
        grid-column: 1 /span 1; }
      .select-class__sidebar--class-list-create-class {
        grid-row: 2 / span 1;
        grid-column: 1 /span 1; }
        .select-class__sidebar--class-list-create-class-button {
          display: flex;
          justify-content: center;
          align-items: center; }
          .select-class__sidebar--class-list-create-class-button-span {
            z-index: 2000;
            background-color: transparent;
            width: 100;
            font-size: 1.5rem;
            font-weight: 200; }
          .select-class__sidebar--class-list-create-class-button:hover {
            color: #111111; }
        .select-class__sidebar--class-list-create-class-form {
          display: none; }
        .select-class__sidebar--class-list-create-class-checkBox:checked + .select-class__sidebar--class-list-create-class-form {
          opacity: 1;
          display: flex;
          transform: scale(1); }
    .select-class__sidebar--footer {
      grid-row: 3 / span 1;
      grid-column: 1 /span 1;
      background-color: rgba(0, 0, 0, 0.2); }
