@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  background-image: linear-gradient(to right bottom, black, rgba(0, 0, 0, 0.9));
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  color: white; }

.container {
  max-width: 120rem;
  min-width: 50vw;
  margin: 5rem auto;
  height: 90vh;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column; }

.header {
  height: 7rem; }

.footer {
  height: 7rem; }

h2 {
  font-size: 4rem;
  font-weight: 200; }

.link {
  text-decoration: none;
  color: black; }

.assessment-card {
  display: grid;
  grid-template-rows: 55% 45%;
  grid-template-columns: 45% 50% 5%;
  height: calc(100% / 5);
  place-items: stretch;
  height: 100%;
  background-color: #111111;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  font-weight: 200;
  overflow: hidden;
  font-weight: 100;
  position: relative;
  transition: all 2s; }
  .assessment-card__flipcard {
    position: relative;
    transition: all .8s ease;
    display: flex; }
    .assessment-card__flipcard--side {
      grid-row: 1 / span 2;
      grid-column: 1 / span 1;
      padding: 1rem;
      font-size: 5rem;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
      position: absolute;
      backface-visibility: hidden;
      height: 100%;
      width: 100%; }
    .assessment-card__flipcard--front {
      display: flex;
      transition: all 0.5s ease;
      justify-content: center;
      align-items: center;
      background-color: #111111; }
    .assessment-card__flipcard--back {
      display: flex;
      background-color: #111111;
      transition: all 0.5s ease;
      opacity: 50%;
      font-size: 2rem;
      transform: rotateX(180deg); }
    .assessment-card__flipcard--name {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 1rem;
      border: solid;
      border-width: 1px;
      border-color: #1a1a1a; }
    .assessment-card__flipcard--comment {
      display: flex;
      align-items: center;
      background-color: transparent;
      color: white;
      height: 100%;
      width: 100%;
      border: 1px solid #1a1a1a;
      padding: 2rem;
      font-size: 2rem;
      resize: none;
      z-index: 2000; }
      .assessment-card__flipcard--comment-name {
        opacity: 5%;
        display: flex; }
    .assessment-card__flipcard--checkbox {
      display: none; }
  .assessment-card__flipcard--checkbox:checked ~ .assessment-card__flipcard--front {
    transform: rotateX(-180deg); }
  .assessment-card__flipcard--checkbox:checked ~ .assessment-card__flipcard--back {
    opacity: 100%;
    transform: rotateX(0); }
  .assessment-card__comment {
    grid-row: 1 / 3;
    grid-column: 3 / span 1;
    display: flex;
    align-content: stretch;
    background-color: rgba(255, 255, 255, 0.541); }
    .assessment-card__comment--checkbox {
      display: none; }
    .assessment-card__comment--label {
      display: flex;
      transform: rotate(90deg);
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: 500; }
  .assessment-card textarea:focus, .assessment-card input:focus {
    outline: 1px solid #D4785C; }
  .assessment-card__score {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr); }
    .assessment-card__score--true {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      margin: 1rem;
      border-radius: 1rem;
      background-color: #1a1a1a;
      color: #D4785C;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      transition: all .25s; }
      .assessment-card__score--true:hover {
        transform: scale(1.05); }
      .assessment-card__score--true:checked {
        background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
        color: black; }
    .assessment-card__score--false {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      margin: 1rem;
      border-radius: 1rem;
      background-color: #1a1a1a;
      color: #D4785C;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      transition: all .25s; }
      .assessment-card__score--false:hover {
        transform: scale(1.05); }
      .assessment-card__score--false:checked {
        background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
        color: black; }
  .assessment-card__radio-input {
    display: none; }
  .assessment-card__radio-input:checked + .assessment-card__radio-label {
    background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
    color: black;
    font-weight: 300; }
  .assessment-card__btn {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1; }
    .assessment-card__btn--submit {
      margin: 1rem;
      border-radius: 1rem;
      background-color: #1a1a1a;
      color: #D4785C;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      font-weight: 100;
      border: none;
      cursor: pointer; }
    .assessment-card__btn--checkbox {
      display: none;
      z-index: 5000;
      position: absolute; }
  .assessment-card__testing {
    position: absolute;
    z-index: 5000; }
  .assessment-card__btn--checkbox:checked + .assessment-card__0 {
    display: none;
    transition: all 1s; }
  .assessment-card__btn--checkbox:checked + .assessment-card__1 {
    display: none; }
  .assessment-card__btn--checkbox:checked + .assessment-card__2 {
    display: none; }
  .assessment-card__btn--checkbox:checked + .assessment-card__3 {
    display: none; }
  .assessment-card__btn--checkbox:checked + .assessment-card__4 {
    display: none; }

.assessment-list {
  overflow: hidden;
  height: 100;
  width: 100;
  box-sizing: border-box;
  font-size: 2.5rem;
  list-style: none;
  -webkit-list-style: none; }
  .assessment-list__assessment {
    font-size: 2rem;
    margin: 1rem;
    padding: .02rem;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    background-color: black;
    align-content: center;
    justify-content: center; }
    .assessment-list__assessment-no-comment {
      display: grid;
      grid-template-rows: repeat(2, min-content);
      grid-template-columns: 1fr; }
    .assessment-list__assessment-comment {
      display: grid;
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: 1fr; }
    .assessment-list__assessment--date {
      grid-row: 1 / span 1;
      grid-column: 1/ span 1;
      display: flex;
      font-weight: 200; }
      .assessment-list__assessment--date-number {
        color: #CB6D51;
        font-weight: 300; }
    .assessment-list__assessment--score {
      grid-row: 2/ span 1;
      grid-column: 1/ span 1;
      display: grid;
      grid-template-columns: 3fr 1fr;
      align-items: center;
      justify-content: center; }
      .assessment-list__assessment--score-text {
        grid-row: 1/ span 1;
        grid-column: 1/ span 1;
        font-weight: 400;
        font-size: 1.5rem; }
        .assessment-list__assessment--score-text-positive {
          color: #CB6D51; }
        .assessment-list__assessment--score-text-negative {
          color: #595858; }
      .assessment-list__assessment--score-icon {
        height: 3rem;
        width: 3rem;
        grid-row: 1/ span 1;
        grid-column: 2/ span 1; }
        .assessment-list__assessment--score-icon-up {
          fill: #CB6D51; }
        .assessment-list__assessment--score-icon-down {
          fill: #D4785C; }
    .assessment-list__assessment--comment {
      grid-row: 3/ span 1;
      grid-column: 1/ span 1;
      font-weight: 100;
      background-color: #111111;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
      text-transform: uppercase;
      font-weight: 200;
      padding: .2rem;
      font-weight: 400;
      font-size: 1.5rem; }
      .assessment-list__assessment--comment-trigger {
        background-color: white; }
      .assessment-list__assessment--comment-text {
        color: #595858; }

.class-list {
  height: 100%;
  list-style: none;
  text-decoration: none;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem; }
  .class-list__container {
    list-style: none; }
  .class-list__class {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    width: 100;
    padding: 1rem;
    color: #CB6D51;
    margin: 1rem 0rem;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    text-decoration: none;
    text-transform: uppercase;
    align-content: center; }
    .class-list__class::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      transform: scaleY(0);
      transform-origin: top;
      transition: transform .15s, width .2s .15s; }
    .class-list__class:hover::before {
      transform: scaleY(1);
      width: 100%; }
    .class-list__class:hover {
      color: #1a1a1a; }
    .class-list__class--name {
      grid-column: 2 / span 1;
      grid-row: 1;
      z-index: 200;
      transition: all .2s;
      font-size: 1.5rem;
      align-content: center;
      font-weight: 200; }
    .class-list__class--period {
      grid-column: 1 / span 1;
      grid-row: 1;
      z-index: 200;
      transition: all .35s;
      margin-left: 1rem;
      color: white;
      font-weight: 200;
      align-items: center; }

.class-rank {
  height: 100%;
  width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 100; }
  .class-rank__text {
    justify-self: end;
    font-size: 3rem;
    text-align: right; }
  .class-rank__score {
    font-size: 7.3rem; }
    .class-rank__score-tied {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, min-content);
      align-content: center;
      justify-content: center; }
      .class-rank__score-tied-text {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: start;
        align-items: center;
        grid-column: 1 /span 1;
        transform: rotate(270deg);
        font-size: 3rem; }
      .class-rank__score-tied-score {
        grid-column: 2 /span 1;
        font-size: 7.3rem;
        color: #D4785C; }
    .class-rank__score-singular {
      font-size: 7.3rem;
      color: #D4785C; }

.class-score {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .class-score__caption {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
  .class-score__score {
    color: #D4785C;
    justify-content: center;
    align-items: flex-start;
    display: flex; }
    .class-score__score--number {
      font-size: 22rem;
      font-weight: 100; }
    .class-score__score--percent {
      margin-top: 5rem;
      font-size: 5rem;
      color: white;
      font-weight: 100; }

.class-title {
  height: 100%;
  width: 100%;
  padding: 1rem; }
  .class-title__class-period {
    font-weight: 200;
    font-size: 7rem; }
  .class-title__class-subject {
    font-weight: 200;
    font-size: 5rem;
    margin-left: 2rem;
    color: #D4785C;
    display: flex;
    justify-content: center;
    align-items: center; }

.info-box {
  height: 100%;
  width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 100; }
  .info-box__text {
    justify-self: end;
    font-size: 3rem;
    text-align: right; }
  .info-box__data {
    color: #D4785C;
    font-size: 7.3rem; }

.last-assessment {
  height: 100%;
  width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; }
  .last-assessment__text {
    justify-self: end;
    font-size: 3rem;
    text-align: right; }
  .last-assessment__date {
    color: #D4785C;
    font-size: 7.3rem; }

.menu-footer {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  font-weight: 200;
  align-items: center;
  align-content: center;
  height: 100%; }

.menu-header {
  display: flex; }
  .menu-header__logo {
    max-height: 100%;
    max-width: 60%;
    margin: 1rem; }

.navBar {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr;
  align-content: space-around;
  height: 90vh; }
  .navBar__header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background-color: #111111; }
  .navBar__link-list {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    background-color: #111111; }
    .navBar__link-list--link {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
      width: 100;
      height: 5rem;
      padding: 1rem;
      color: #CB6D51;
      fill: white;
      margin: 1rem 0rem;
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
      text-decoration: none;
      text-transform: uppercase;
      align-content: center; }
      .navBar__link-list--link::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .15s, width .2s .15s; }
      .navBar__link-list--link:hover::before {
        transform: scaleY(1);
        width: 100%; }
      .navBar__link-list--link:hover {
        color: #1a1a1a;
        fill: #1a1a1a; }
      .navBar__link-list--link-text {
        grid-column: 2 / span 1;
        grid-row: 1;
        z-index: 200;
        transition: all .2s;
        font-size: 1.5rem;
        align-content: center;
        font-weight: 200; }
      .navBar__link-list--link-icon {
        grid-column: 1 / span 1;
        grid-row: 1;
        z-index: 200;
        transition: all .35s;
        margin-left: 1rem;
        width: 2rem;
        height: 2rem;
        font-weight: 200;
        align-items: center; }
  .navBar__back {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1; }
  .navBar__profile {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    background-color: #111111; }

.roster {
  padding: 1rem;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 200;
  list-style: none;
  -webkit-list-style: none; }
  .roster__student {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr;
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
    margin: .25rem 0;
    align-items: center;
    min-width: 0;
    list-style: none;
    padding: .5rem 0rem;
    border-radius: 1rem;
    background-color: #1a1a1a;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #cb6d51, #d4785c, #da8a68, #dd9b72);
    background-size: 220%;
    transition: all 0.2s;
    cursor: pointer; }
    .roster__student--name {
      grid-row: 1 / span 1;
      grid-column: 1;
      margin-left: 1rem; }
      .roster__student--name a {
        color: white;
        text-decoration: none; }
      .roster__student--name-only {
        color: white; }
    .roster__student--score {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 1rem;
      color: #CB6D51; }
  .roster__edit-student {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr;
    margin: .5rem 0;
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    min-width: 0;
    list-style: none;
    padding: .5rem 0rem;
    border-radius: 1rem;
    background-color: #1a1a1a;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #cb6d51, #d4785c, #da8a68, #dd9b72);
    background-size: 220%;
    transition: all 0.24s;
    cursor: pointer; }
    .roster__edit-student--caption {
      grid-row: 1 / span 1;
      grid-column: 2 /span 1;
      display: flex;
      margin: 0 1rem;
      color: #CB6D51;
      justify-content: center;
      align-items: center;
      transform: translatey(-2px); }
      .roster__edit-student--caption:hover {
        color: white;
        font-size: 3rem;
        font-weight: 500; }
    .roster__edit-student:hover {
      background-position: 109%;
      color: black;
      font-size: 1.6rem;
      border: 1px solid #D4785C;
      transform: scaley(1.06);
      font-weight: 300; }
    .roster__edit-student--name {
      grid-row: 1 / span 1;
      grid-column: 1;
      margin-left: 2rem; }
      .roster__edit-student--name a {
        color: white;
        text-decoration: none; }
      .roster__edit-student--name-only {
        color: white; }

.total-assessments {
  height: 100%;
  width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; }
  .total-assessments__text {
    justify-self: end;
    font-size: 3rem;
    text-align: right; }
  .total-assessments__total {
    color: #D4785C;
    font-size: 7.3rem; }

.assess-class {
  min-height: 0;
  /* NEW */
  min-width: 0;
  overflow: auto;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .25fr 4fr; }
  .assess-class__header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1; }
  .assess-class__card-container {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    justify-content: stretch;
    grid-row-gap: 2rem;
    height: 75vh;
    justify-content: stretch;
    min-height: 0;
    /* NEW */
    min-width: 0;
    list-style: none;
    transition: all 1s;
    margin-bottom: 2rem; }

.class-stats {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  height: 90vh;
  padding: 2rem;
  justify-content: stretch;
  overflow: hidden;
  min-height: 0;
  /* NEW */
  min-width: 0; }
  .class-stats__roster-container {
    grid-row: 1 / span 4;
    grid-column: 1 / span 1;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    overflow: auto;
    /* NEW */
    min-width: 0; }
    .class-stats__roster-container:hover::-webkit-scrollbar {
      width: 10px; }
    .class-stats__roster-container:hover::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .class-stats__roster-container:hover::-webkit-scrollbar-thumb {
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      outline: 1px solid slategrey;
      opacity: 0.5; }
  .class-stats__class-name {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    overflow: hidden; }
  .class-stats__total-participation {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    overflow: hidden; }
  .class-stats__graphics {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: fill;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    overflow: hidden; }
  .class-stats__total-assessments {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200; }
  .class-stats__last-assessment {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200; }

.edit-class {
  display: grid;
  grid-template-rows: 0.25fr repeat(4, 1fr);
  grid-template-columns: 1fr 1fr .5fr .5fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  padding: 2rem;
  height: 90vh;
  overflow: auto;
  min-height: 0;
  /* NEW */
  min-width: 0;
  justify-content: stretch; }
  .edit-class__header {
    grid-row: 1 / span 1;
    grid-column: 1/ span 4; }
  .edit-class__roster-container {
    grid-row: 2 / span 4;
    grid-column: 1 / span 1;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    overflow: auto;
    /* NEW */
    padding: 2rem; }
    .edit-class__roster-container:hover::-webkit-scrollbar {
      width: 10px; }
    .edit-class__roster-container:hover::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .edit-class__roster-container:hover::-webkit-scrollbar-thumb {
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      opacity: 0.5;
      border-radius: 1rem; }
  .edit-class__student-body-container {
    grid-row: 2 / span 4;
    grid-column: 2 / span 1;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    overflow: auto;
    /* NEW */
    min-width: 0;
    padding: 2rem; }
    .edit-class__student-body-container:hover::-webkit-scrollbar {
      width: 10px; }
    .edit-class__student-body-container:hover::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .edit-class__student-body-container:hover::-webkit-scrollbar-thumb {
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      opacity: 0.5;
      border-radius: 1rem; }
  .edit-class__class-graph {
    grid-row: 2 / span 2;
    grid-column: 3 / span 2;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200; }
  .edit-class__class-count {
    grid-row: 4 / span 1;
    grid-column: 3 / span 2;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200; }
  .edit-class__new-student {
    grid-row: 5 / span 1;
    grid-column: 3 / span 1;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    transition: all .5s; }
    .edit-class__new-student-toggle {
      height: 100%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 200;
      font-size: 2rem;
      transition: all .5s;
      grid-column: 3 / span 1;
      border-radius: 1rem; }
      .edit-class__new-student-toggle-content {
        white-space: nowrap;
        justify-content: center;
        align-items: center; }
      .edit-class__new-student-toggle:hover {
        color: #D4785C;
        font-weight: 400;
        background-color: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)); }
  .edit-class__controll {
    grid-row: 5 / span 1;
    grid-column: 3 / span 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    justify-content: center;
    align-items: center; }
    .edit-class__controll-toggle {
      display: none; }
    .edit-class__controll-btn {
      height: 100%;
      width: 100%;
      background-color: #111111;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
      text-transform: uppercase;
      font-weight: 200;
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      display: flex;
      justify-content: center;
      align-items: center; }
    .edit-class__controll-new-student {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1; }
    .edit-class__controll-rename-class {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1; }
    .edit-class__controll-delete-student {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1; }
    .edit-class__controll-delete-class {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1; }

.student-home {
  height: 90vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 2rem 1fr 3fr 2fr .5fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  min-height: 0;
  /* NEW */
  min-width: 0;
  padding: 2rem; }
  .student-home__header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2; }
  .student-home__assessments {
    grid-row: 2 / span 4;
    grid-column: 1 / span 1;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200; }
    .student-home__assessments:hover::-webkit-scrollbar {
      width: 10px; }
    .student-home__assessments:hover::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .student-home__assessments:hover::-webkit-scrollbar-thumb {
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      opacity: 0.5;
      border-radius: 1rem; }
  .student-home__name {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200; }
  .student-home__score {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200; }
  .student-home__graphics {
    grid-row: 4 / span 1;
    grid-column: 2 / span 2;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200; }
  .student-home__ranking {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200; }
  .student-home__preferences {
    grid-row: 5 / span 1;
    grid-column: 3 / span 1;
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200; }

.delete-class-form__content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 2500;
  transform: scale(0.51);
  transition: all .25s; }
  .delete-class-form__content--form {
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    z-index: 9950;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2, min-content);
    justify-items: center;
    align-items: center;
    padding: 3rem;
    border: 1px solid #D4785C;
    position: absolute; }
    .delete-class-form__content--form-class-list {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      width: 20rem;
      font-size: 2rem;
      font-weight: 100;
      color: #D4785C; }
    .delete-class-form__content--form-confirm {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      font-size: 4rem;
      border: 1px solid #1a1a1a;
      background-color: #1a1a1a;
      border-radius: 1rem;
      color: white;
      text-align: center; }
    .delete-class-form__content--form textarea:focus, .delete-class-form__content--form input:focus {
      outline: none; }
    .delete-class-form__content--form-submit {
      grid-row: 5/ span 1;
      grid-column: 2 / span 1;
      color: #D4785C;
      padding: .5rem 1rem;
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      border: none;
      color: black;
      border-radius: 1rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8);
      font-weight: 200;
      font-size: 4rem;
      transition: all .25s; }
      .delete-class-form__content--form-submit:hover {
        background-image: linear-gradient(to right bottom, black, rgba(0, 0, 0, 0.9));
        border: 0.25px solid #D4785C;
        color: #D4785C;
        transform: scale(1.1); }
    .delete-class-form__content--form-toggle {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
      font-size: 3rem;
      margin: 2rem;
      position: absolute;
      z-index: 9960;
      transform: translateY(-1.5rem);
      transform: translateX(11.5rem); }
      .delete-class-form__content--form-toggle:hover {
        color: #D4785C; }

.delete-class-form__checkbox {
  display: none; }

.delete-class-form__checkbox:checked + .delete-class-form__content {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.delete-student-form__content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(0.5);
  transition: all .25s; }
  .delete-student-form__content--form {
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    background-color: #1a1a1a;
    display: grid;
    z-index: 9950;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: repeat(2, max-content);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #D4785C;
    position: absolute;
    overflow: auto;
    max-height: 50vh;
    max-width: max-content; }
    .delete-student-form__content--form-roster-container {
      grid-row: 1 / span 3;
      grid-column: 1 / span 1;
      background-color: #111111;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
      text-transform: uppercase;
      font-weight: 200;
      overflow-y: auto;
      max-height: 100%;
      padding: 2rem;
      z-index: 9951; }
      .delete-student-form__content--form-roster-container:hover::-webkit-scrollbar {
        width: 10px; }
      .delete-student-form__content--form-roster-container:hover::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
      .delete-student-form__content--form-roster-container:hover::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
        opacity: 0.5;
        border-radius: 1rem; }
    .delete-student-form__content--form-title {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      font-size: 3rem;
      font-weight: 100;
      height: 100%;
      width: 100%;
      padding: 1rem;
      color: #D4785C;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #111111;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
      text-transform: uppercase;
      font-weight: 200; }
    .delete-student-form__content--form-info-box {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
      background-color: #111111;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
      text-transform: uppercase;
      font-weight: 200;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 2rem;
      width: 30rem;
      font-size: 1.5rem; }
      .delete-student-form__content--form-info-box-welcome {
        font-size: 2rem;
        font-weight: 100; }
      .delete-student-form__content--form-info-box-deleted-name {
        color: #D4785C;
        font-size: 3rem; }
      .delete-student-form__content--form-info-box-blank-schedule {
        font-size: 2rem;
        font-weight: 100; }
      .delete-student-form__content--form-info-box-remove-text {
        font-size: 2rem;
        font-weight: 100; }
      .delete-student-form__content--form-info-box-remove-schedule {
        list-style: none;
        color: #D4785C; }
    .delete-student-form__content--form-submit {
      grid-row: 3 / span 1;
      grid-column: 2 / span 1;
      color: #D4785C;
      padding: .5rem 1rem;
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      border: none;
      color: black;
      border-radius: 20rem;
      padding: .5rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8);
      font-weight: 200;
      font-size: 2rem;
      width: 95%;
      transition: all .25s; }
      .delete-student-form__content--form-submit:hover {
        transform: scale(1.04); }
    .delete-student-form__content--form-toggle {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
      font-size: 3rem;
      margin: 2rem;
      z-index: 9960;
      transform: translateY(-1.5rem);
      transform: translateX(11.5rem); }
      .delete-student-form__content--form-toggle:hover {
        color: #D4785C; }

.delete-student-form__checkbox {
  display: none; }

.delete-student-form__checkbox:checked + .delete-student-form__content {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.delete-student-form__toggle {
  position: absolute;
  top: 0;
  left: 1000;
  transform: translate(45vw, 3vh); }

.edit-class-form__content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(0.5);
  transition: all .25s; }
  .edit-class-form__content--form {
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    z-index: 9950;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 3rem;
    border: 1px solid #D4785C;
    position: absolute; }
    .edit-class-form__content--form-existing-name {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      font-size: 5rem;
      font-weight: 100;
      color: #D4785C; }
    .edit-class-form__content--form-name {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
      height: 5rem;
      font-size: 4rem;
      border: 1px solid #1a1a1a;
      background-color: #1a1a1a;
      border-radius: 1rem;
      color: white;
      text-align: center; }
    .edit-class-form__content--form textarea:focus, .edit-class-form__content--form input:focus {
      outline: none; }
    .edit-class-form__content--form-submit {
      grid-row: 3 / span 1;
      grid-column: 1 / span 1;
      color: #D4785C;
      padding: .5rem 1rem;
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      border: none;
      color: black;
      border-radius: 1rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8);
      font-weight: 200;
      font-size: 4rem;
      transition: all .25s; }
      .edit-class-form__content--form-submit:hover {
        background-image: linear-gradient(to right bottom, black, rgba(0, 0, 0, 0.9));
        border: 0.25px solid #D4785C;
        color: #D4785C;
        transform: scale(1.1); }
    .edit-class-form__content--form-toggle {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
      font-size: 3rem;
      margin: 2rem;
      position: absolute;
      z-index: 9960;
      transform: translateY(-1.5rem);
      transform: translateX(11.5rem); }
      .edit-class-form__content--form-toggle:hover {
        color: #D4785C; }

.edit-class-form__checkbox {
  display: none; }

.edit-class-form__checkbox:checked + .edit-class-form__content {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.edit-student-form__content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(0.5);
  transition: all .25s; }
  .edit-student-form__content--form {
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    z-index: 9950;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 3rem;
    border: 1px solid #D4785C;
    position: absolute; }
    .edit-student-form__content--form-existing-name {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      font-size: 5rem;
      font-weight: 100;
      color: #D4785C; }
    .edit-student-form__content--form-name {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
      height: 5rem;
      font-size: 4rem;
      border: 1px solid #1a1a1a;
      background-color: #1a1a1a;
      border-radius: 1rem;
      color: white;
      text-align: center; }
    .edit-student-form__content--form textarea:focus, .edit-student-form__content--form input:focus {
      outline: none; }
    .edit-student-form__content--form-submit {
      grid-row: 3 / span 1;
      grid-column: 1 / span 1;
      color: #D4785C;
      padding: .5rem 1rem;
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      border: none;
      color: black;
      border-radius: 1rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8);
      font-weight: 200;
      font-size: 4rem;
      transition: all .25s; }
      .edit-student-form__content--form-submit:hover {
        background-image: linear-gradient(to right bottom, black, rgba(0, 0, 0, 0.9));
        border: 0.25px solid #D4785C;
        color: #D4785C;
        transform: scale(1.1); }
    .edit-student-form__content--form-toggle {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
      font-size: 3rem;
      margin: 2rem;
      position: absolute;
      z-index: 9960;
      transform: translateY(-1.5rem);
      transform: translateX(11.5rem); }
      .edit-student-form__content--form-toggle:hover {
        color: #D4785C; }

.edit-student-form__checkbox {
  display: none; }

.edit-student-form__checkbox:checked + .edit-student-form__content {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.landing-form__login {
  font-size: 2rem;
  padding: 2rem;
  height: 35rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  flex-direction: column;
  place-items: center; }
  .landing-form__login-username {
    grid-row: 1 / span 1; }
  .landing-form__login-password {
    grid-row: 2 / span 1; }
  .landing-form__login-submit {
    grid-row: 3 / span 1; }
  .landing-form__login-forgot-password {
    grid-row: 4 / span 1; }
  .landing-form__login-register {
    grid-row: 5 / span 1; }

.new-class-form__content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 2500;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(0.5);
  transition: all .25s; }
  .new-class-form__content--form {
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    z-index: 9950;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: .5fr 1fr .5fr;
    justify-items: center;
    align-items: center;
    padding: 3rem;
    border: 1px solid #D4785C;
    position: absolute; }
    .new-class-form__content--form-title {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
      font-size: 5rem;
      font-weight: 100;
      color: #D4785C; }
    .new-class-form__content--form-input {
      height: 5rem;
      font-size: 4rem;
      border: 1px solid #1a1a1a;
      background-color: #1a1a1a;
      border-radius: 1rem;
      color: white;
      text-align: center; }
    .new-class-form__content--form-subject {
      grid-row: 3 / span 1;
      grid-column: 2 / span 1; }
    .new-class-form__content--form-period {
      grid-row: 4 / span 1;
      grid-column: 2 / span 1; }
    .new-class-form__content--form textarea:focus, .new-class-form__content--form input:focus {
      outline: none; }
    .new-class-form__content--form-submit {
      grid-row: 5/ span 1;
      grid-column: 2 / span 1;
      color: #D4785C;
      padding: .5rem 1rem;
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      border: none;
      color: black;
      border-radius: 1rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8);
      font-weight: 200;
      font-size: 4rem;
      transition: all .25s; }
      .new-class-form__content--form-submit:hover {
        background-image: linear-gradient(to right bottom, black, rgba(0, 0, 0, 0.9));
        border: 0.25px solid #D4785C;
        color: #D4785C;
        transform: scale(1.1); }
    .new-class-form__content--form-toggle {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
      font-size: 3rem;
      margin: 2rem;
      position: absolute;
      z-index: 9960;
      transform: translateY(-1.5rem);
      transform: translateX(11.5rem); }
      .new-class-form__content--form-toggle:hover {
        color: #D4785C; }

.new-class-form__checkbox {
  display: none; }

.new-class-form__checkbox:checked + .new-class-form__content {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.new-student-form__content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(0.5);
  transition: all .25s; }
  .new-student-form__content--form {
    background-color: #111111;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    font-weight: 200;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    z-index: 9950;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: .5fr 1fr .5fr;
    justify-items: center;
    align-items: center;
    padding: 3rem;
    border: 1px solid #D4785C;
    position: absolute; }
    .new-student-form__content--form-title {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
      font-size: 5rem;
      font-weight: 100;
      color: #D4785C; }
    .new-student-form__content--form-name {
      grid-row: 3 / span 1;
      grid-column: 2 / span 1;
      height: 5rem;
      font-size: 4rem;
      border: 1px solid #1a1a1a;
      background-color: #1a1a1a;
      border-radius: 1rem;
      color: white;
      text-align: center; }
    .new-student-form__content--form textarea:focus, .new-student-form__content--form input:focus {
      outline: none; }
    .new-student-form__content--form-submit {
      grid-row: 4 / span 1;
      grid-column: 2 / span 1;
      color: #D4785C;
      padding: .5rem 1rem;
      background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
      border: none;
      color: black;
      border-radius: 1rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8);
      font-weight: 200;
      font-size: 4rem;
      transition: all .25s; }
      .new-student-form__content--form-submit:hover {
        background-image: linear-gradient(to right bottom, black, rgba(0, 0, 0, 0.9));
        border: 0.25px solid #D4785C;
        color: #D4785C;
        transform: scale(1.1); }
    .new-student-form__content--form-toggle {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
      font-size: 3rem;
      margin: 2rem;
      position: absolute;
      z-index: 9960;
      transform: translateY(-1.5rem);
      transform: translateX(11.5rem); }
      .new-student-form__content--form-toggle:hover {
        color: #D4785C; }

.new-student-form__checkbox {
  display: none; }

.new-student-form__checkbox:checked + .new-student-form__content {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.class-home {
  height: 90vh;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 6fr;
  background-color: #1a1a1a;
  border-radius: 1rem;
  align-content: space-between; }
  .class-home__nav {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: #111111; }
  .class-home__content {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    font-size: 2rem; }
    .class-home__content--display {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1; }
    .class-home__content--links {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
      display: flex;
      justify-content: space-around;
      margin: 0 2rem;
      margin-bottom: 2rem; }
      .class-home__content--links-link {
        background-color: rebeccapurple;
        width: calc(100% / 3);
        background-color: #111111;
        border-radius: 1rem;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
        text-transform: uppercase;
        font-weight: 200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        transition: all, .5s; }
        .class-home__content--links-link a {
          color: #CB6D51;
          text-decoration: none; }
        .class-home__content--links-link:not(:last-child) {
          margin-right: 2rem; }
        .class-home__content--links-link:hover {
          transform: scale(1.02);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          border: solid 1px #D4785C; }
      .class-home__content--links-icon {
        height: 8rem;
        fill: #1a1a1a; }

.landing-page {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr .60fr;
  max-width: 100vw;
  height: 90vh;
  place-items: center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../img/landing-page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .landing-page__content {
    grid-row: 1 / span 1;
    display: grid;
    align-content: center;
    justify-content: center;
    place-items: center;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: min-content;
    background-color: rgba(89, 88, 88, 0.6);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
    .landing-page__content-logo {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      padding: 1rem; }
      .landing-page__content-logo--box {
        margin-left: 3rem;
        width: 30rem; }
    .landing-page__content-login {
      justify-self: center;
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
      width: 100%; }
  .landing-page__checkbox {
    display: none; }
  .landing-page__checkbox-login:checked ~ .landing-page-form__login {
    transform: translatex(40vw) translateY(-25vh); }
  .landing-page__checkbox-register:checked ~ .landing-page-form__register {
    transform: translatex(40vw) translateY(-25vh); }
  .landing-page__formbox--register {
    grid-row: 2 / 4;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    justify-content: center;
    background-color: white;
    transform: translatex(50vw);
    transition: all 1s; }
  .landing-page__button {
    background-color: #111111;
    border-radius: 50px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.75rem;
    color: black;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom right, #cb6d51, #d4785c, #da8a68, #dd9b72);
    transition: .1s;
    height: 4rem;
    width: 20rem;
    margin: 0 3rem; }
    .landing-page__button--login {
      grid-row: 2;
      grid-column: 1;
      align-self: end;
      justify-self: center; }
    .landing-page__button--register {
      grid-row: 3;
      grid-column: 1;
      margin: 3rem;
      justify-self: center; }
    .landing-page__button:hover {
      transform: scale(1.02);
      opacity: .9; }
    .landing-page__button:active {
      transform: translatey(1px); }

.select-class {
  height: 90vh;
  background-color: rgba(128, 128, 128, 0.5);
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
  font-style: unset;
  align-content: space-between;
  background-color: #111111;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  font-weight: 200;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../img/landing-page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .select-class__logo {
    align-self: end; }
    .select-class__logo--box {
      transform: translateY(20vh);
      grid-row: 1;
      grid-column: 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%; }
  .select-class__sidebar {
    background-color: #111111;
    grid-row: 1 / span 3;
    grid-column: 1 /span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr; }
    .select-class__sidebar--header {
      grid-row: 1 / span 1;
      grid-column: 1 /span 1;
      background-color: rgba(0, 0, 0, 0.2); }
    .select-class__sidebar--class-list {
      grid-row: 2 / span 1;
      grid-column: 1 /span 1;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr .5fr; }
      .select-class__sidebar--class-list-selection {
        grid-row: 1 / span 1;
        grid-column: 1 /span 1; }
      .select-class__sidebar--class-list-create-class {
        grid-row: 2 / span 1;
        grid-column: 1 /span 1; }
        .select-class__sidebar--class-list-create-class-button {
          display: flex;
          justify-content: center;
          align-items: center; }
          .select-class__sidebar--class-list-create-class-button-span {
            z-index: 2000;
            background-color: transparent;
            width: 100;
            font-size: 1.5rem;
            font-weight: 200; }
          .select-class__sidebar--class-list-create-class-button:hover {
            color: #1a1a1a; }
        .select-class__sidebar--class-list-create-class-form {
          display: none; }
        .select-class__sidebar--class-list-create-class-checkBox:checked + .select-class__sidebar--class-list-create-class-form {
          opacity: 1;
          display: flex;
          transform: scale(1); }
    .select-class__sidebar--footer {
      grid-row: 3 / span 1;
      grid-column: 1 /span 1;
      background-color: rgba(0, 0, 0, 0.2); }
