.assessment-list {
    overflow: hidden;
    height: 100;
    width: 100;
    box-sizing: border-box;
    font-size: 2.5rem;
    list-style: none;
    -webkit-list-style: none;

    &__assessment{
        font-size: 2rem;
        margin: 1rem;
        padding: .02rem;
        @include component-format;
        background-color: black;
        align-content: center;
        justify-content: center;
        @include respond(big-phone) {
            font-size: 3rem;
        }

        &-no-comment {
            display: grid;
            grid-template-rows: repeat(2, min-content);
            grid-template-columns: 1fr;
        }

        &-comment {
            display: grid;
            grid-template-rows: repeat(3, min-content);
            grid-template-columns: 1fr;
        }

        &--date {
            grid-row: 1 / span 1;
            grid-column: 1/ span 1;
            display:flex;
            font-weight: 200;

            &-number{
                color: $color-copper-1;
                font-weight: 300;
            }
        }

        &--score {
            grid-row: 2/ span 1;
            grid-column: 1/ span 1;
            display: grid;
            grid-template-columns: 3fr 1fr;
            align-items: center;
            justify-content: center;

            &-text{
                grid-row: 1/ span 1;
                grid-column: 1/ span 1;
                font-weight: 400;
                font-size: 1.5rem;

                @include respond(big-phone) {
                    font-size: 2rem;
                }

                &-positive {
                    color: $color-copper-1;
                }

                &-negative {
                    color: $color-grey-light;
                }
            }
        }

        &--comment {
            grid-row: 3/ span 1;
            grid-column: 1/ span 1;
            font-weight: 100;
            @include component-format;
            padding: .2rem;
            font-weight: 400;
            font-size: 1.5rem;

            @include respond(big-phone) {
                font-size: 2rem;
            }

            &-trigger{
                background-color: white;
            }

            &-header {
  
            }

            &-text {
                color: $color-grey-light;

            }
        }

        &--delete{
            font-weight: 400;
            font-size: 1.25rem;
        }
    }
}