.assessment-card {
    display: grid;
    grid-template-rows: .6fr .4fr;
    grid-template-columns: .1fr 1.9fr .1fr;
    place-items: stretch;
    height: 11rem;
    @include component-format;
    overflow: hidden;
    font-weight: 100;
    position: relative;
    transition: all 2s;
    font-size: 2.5rem;
    background-color: black;

    @include respond(big-desktop) {
        height:13.5rem;
    }

    @include respond(big-tablet-land) {
        height:14.7rem;
    }

    @include respond(big-tablet) {
        height:13rem;
    }

    &__flipcard {
        position: relative;
        transition: all .8s ease;
        display: flex;

        &--side {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
            padding: 1rem;
            font-size: 2.5rem;
            font-weight: 200;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease;
            position: absolute;
            backface-visibility: hidden;
            height: 100%;
            width: 100%;
        }

        &--front {
            display: flex;
            transition: all 0.5s ease;
            justify-content: center;
            align-items: center;
        }

        &--back {
            display: flex;
            transition: all 0.5s ease;
            opacity:50%;
            font-size: 2rem;
            transform: rotateX(180deg);
        }

        &--name {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 1rem;
            border: solid;
            border-width: 1px;
            border-color: $color-grey-mid;

        }

        &--comment {
            display: flex;
            align-items: center;
            background-color: transparent;
            color: white;
            height: 100%;
            width: 100%;
            border: 1px solid $color-grey-mid;
            padding: 1rem;
            resize: none;
            z-index: 2000;

            &-name{
                opacity: 5%;
                display: flex;
            }
        }

        &--checkbox {
            display: none;
        }
    }

    &__flipcard--checkbox:checked ~ &__flipcard--front{
        transform: rotateX(-180deg);
    }

    &__flipcard--checkbox:checked ~ &__flipcard--back {
        opacity: 100%;
        transform: rotateX(0);
    }

    &__comment{
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
        display: flex;
        align-content: stretch;
        background-color: $color-grey-light;

        &--checkbox {
            display: none;
        }

        &--label {

            display: flex;
            transform: rotate(90deg);
            height: 100%;
            width: 3rem;
            justify-content: center;
            align-items: center;
            color: black;
            font-size: 2.2rem;
            font-weight: 200;
        }
    }

    textarea:focus, input:focus{
        outline: 1px solid $color-copper-2;
    }

    &__score{
        grid-row: 2/ span 1;
        grid-column: 2 / span 1;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        margin: 0 1rem 1rem 1rem;
        font-size: 2rem;
        font-weight: 400;
        transition: all .25s;

        &--invalid{
            background-color: $color-grey-light;
            box-shadow: 0px 0px 4px 3px $color-grey-light
        }            

 
        &--true{
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
            border-radius: $border;
            background-color: $color-grey-mid;
            color: $color-copper-2;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .25s;

            &:hover{
                transform: scale(1.05);
            }

            &:checked {
                background-image: $copper-gradient;
                color: black;
            }
        }

        &--false{
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
            border-radius: $border;
            background-color: $color-grey-mid;
            color: $color-copper-2;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .25s;

            &:hover{
                transform: scale(1.05);
            }

            &:checked {
                background-image: $copper-gradient;
                color: black;
            }
        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-input:checked + &__radio-label{
            background-image: $copper-gradient;
            color: black;
            font-weight: 300;
    }

    &__btn{
        grid-row: 1 / span 2;
        grid-column: 3 / span 1;
        display: flex;
        align-content: stretch;
        background-image: $copper-gradient;

        &--submit {
            display: flex;
            transform: rotate(90deg);
            height: 100%;
            width: 3rem;
            justify-content: center;
            align-items: center;
            color: black;
            font-size: 2.2rem;
            font-weight: 200;
        }

        &--checkbox {
            display: none;
            z-index: 5000;
            position: absolute;
        }
    }

    &__testing{
        position: absolute;
        z-index: 5000;

        &--checkbox{

        }

        &--label{

        }
    }

    &__btn--checkbox:checked + &__0{
    display: none;
    transition: all 1s;
    }


    &__btn--checkbox:checked + &__1{
        display: none;
    }


    &__btn--checkbox:checked + &__2{
        display: none;
    }


    &__btn--checkbox:checked + &__3{
        display: none;
    }


    &__btn--checkbox:checked + &__4{
        display: none;
    }
}