.class-title {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__class-subject {
        font-weight: 200;
        font-size: 3.5rem;
        margin-left: 2rem;
        color: $color-copper-2;
    }
}