.class-score {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(big-tablet) {
        flex-direction: column;
        transform: translateY(1rem);
    }

    &__caption {
        font-size: 3.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        @include respond(big-desktop) {
            font-size: 4rem;
        }

        @include respond(big-tablet-land) {
            font-size: 4rem;
        }

        @include respond(big-tablet) {
            // background-color: gold;
            margin-top: 2rem;
        }
    }

    &__score {
        color: $color-copper-2;
        justify-content: center;
        align-items: flex-start;
        display: flex;

        @include respond(big-tablet) {
            // background-color: blue;
            transform: translateY(-2rem);
        }

        &--number {
            font-size: 13rem;
            font-weight: 100;

            @include respond(big-desktop) {
                font-size: 17.5rem;
            }

            @include respond(big-tablet-land) {
                font-size: 17.5rem;
            }

            @include respond(big-tablet) {
                font-size: 14rem;
            }
        }

        &--percent {
            margin-top: 3rem;
            font-size: 3rem;
            color: white;
            font-weight: 100;

            @include respond(big-desktop) {
                font-size: 4.5rem;
            }

            @include respond(big-tablet-land) {
                font-size: 4.5rem;
            }
        }
    }
}