.class-title {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__class-subject {
        font-weight: 200;
        font-size: 3.5rem;
        margin-left: 2rem;
        color: $color-copper-2;
        text-align: center;

        @include respond(big-desktop) {
            font-size: 4.5rem;
        }

        @include respond(big-tablet-land) {
            font-size: 4.5rem;
        }

        @include respond(big-tablet) {
            font-size: 4rem;
            margin-left: 0rem;
            text-align: end;
        }
    }
}