.form-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    fill: white;
    background-image: $copper-gradient;
    margin: 2rem;
    z-index: 9960;
    width: 6rem;
    height: 6rem;
    margin: 2rem;
    position: absolute;
    z-index: 9960;
    transform: translateX(71.5rem);

    @include respond(big-desktop) {
        transform: translateX(91.5rem);
    }

    @include respond(big-tablet) {
        transform: translateX(50rem);
    }

    @include respond(tablet) {
        transform: translateX(45rem);
    }

    &-icon {
        z-index: 200;
        transition: all .35s;
        margin-left: 1rem;
        width: 4rem;
        height: 4rem;
        font-weight: 200;
        align-items: center;
        transform: translateX(-.5rem);
    }
    
    &:hover {
        fill: black;
    }

}