.form-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    fill: white;
    background-image: $copper-gradient;
    // font-size: 3rem;
    // justify-self: end;
    // align-self: end;
    margin: 2rem;
    // position: absolute;
    z-index: 9960;
    width: 6rem;
    height: 6rem;
    // transition: all .1s;
    // transform: translateY(-1.5rem);
    // transform: translateX(11.5rem);
    margin: 2rem;
    position: absolute;
    z-index: 9960;
    transform: translateY(-1.5rem);
    transform: translateX(71.5rem);

    &-icon {
        // grid-column: 1 / span 1;
        // grid-row: 1;
        z-index: 200;
        transition: all .35s;
        margin-left: 1rem;
        // fill: green;
        width: 4rem;
        height: 4rem;
        font-weight: 200;
        align-items: center;
        transform: translateX(-.5rem);
    }
    
    &:hover {
        fill: black;
        // transform: scale(1.025);
        // background-color: rebeccapurple;
    }

}