.last-assessment {
    height: 100%;
    width: 100%;
    display: grid;
    padding: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    &__text {
        justify-self: end;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
        height: 100%;

        @include respond(big-desktop) {
            font-size: 2.5rem;
        }

        @include respond(big-tablet) {
            font-size: 2.3rem;
        }
    }

    &__date {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $color-copper-2;
        font-size: 5.4rem;
        height: 100%;

        @include respond(big-desktop) {
            font-size: 6.6rem;
        }

        @include respond(big-tablet) {
            font-size: 5.9rem;
        }
    }
}