.phone-footer {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    padding: 1.2rem;
    width: 100%;
    color: $color-grey-light;
    height: min-content;
    background-color: rgba(black, 0.3);
    // justify-content: center;

    @include respond(big-desktop) {
        font-size: 1.25rem;
     }
    

    // border-top: solid 1px $color-grey-light;

    &__links{
        // padding: 1.2rem;
        display: flex;
        justify-content: center;
    }

    &__text {
        margin-bottom:.5rem;
        align-self: center;
        text-align: center;

        &-email {
            color: $color-highlighted-text;
        }

        @include respond(big-tablet) {
           font-size: .9rem;
        }

        @include respond(tablet) {
            font-size: .8rem;
         }
    }

    &__resume {
        // margin-bottom:.5rem;
        border-left: solid 1px $color-grey-light;
        border-right: solid 1px $color-grey-light;
        padding: 0 1rem;
        margin: 0 1rem;
    }

    &__github {
        // margin-bottom:.5rem;
        border-left: solid 1px $color-grey-light;
        border-right: solid 1px $color-grey-light;
        padding: 0 1rem;
        margin: 0 1rem;

        &:hover {
            color: $color-copper-1;
            transform:scale(1.03);
          }

        &-link{
            &:link {
                color: $color-highlighted-text;
            }
            &:visited {
                color: $color-highlighted-text;
              }
            &:hover {
              color: $color-copper-1;
              transform:scale(1.1);
            }
            &:active {
                color: red;
              }
        }
    }

    &__specs {
        border-left: solid 1px $color-grey-light;
        border-right: solid 1px $color-grey-light;
        padding: 0 1rem;
        margin: 0 1rem;
    }
    // background-color: aqua;
}