.footer {
    background: linear-gradient(
        to bottom right,
        #cb6d51,
            #d4785c
                ,#da8868,
                    #dd9b72
    );
    text-align: center;
    font-weight: bolder;
    color: gray;
    background-position: bottom;
    position:relative;

}

